@model IEnumerable<WebApplication4.Models.Produtos>


<head>
    @*<script>
            window.onload = function () {
                setInterval(function () {
                    alert("Pendências");
                }, 10000);
            };
        </script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<h2>Clientes</h2>

<p>
    @Html.ActionLink("Novo Cliente", "Create")
</p>

<p>
    Atendimentos pendentes:
    <input style="width:20px; font-weight:bold; border:0px; text-align:center" id="mostra" disabled />

</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mensagem)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensagem)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@*<button id="button">Teste</button>*@
<script>
                        $(document).ready(function () {
                            var itemcount = 0;
                            var verifica = 0;
                            //$("button").click(function () {
                            setTimeout(function () {
                                $.ajax({
                                    async: true,
                                    crossDomain: true,
                                    url: "/Produtos/RetornaDados",
                                    method: "GET",
                                    headers: {
                                        "Access-Control-Allow-Origin": "*"
                                    },
                                    success: function (data) {
                                        var itemcount = 0;
                                        $.each(data, function (key, item) {
                                            if (item.Status === "Pendente") {
                                                itemcount++;

                                            }

                                        });
                                        $("#mostra").val(itemcount)

                                    }
                                }, 100);
                            });
                        });
</script>

